body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-menu {
  list-style-type: none;
}
.navbar-menu > li {
  display: inline-block;
  margin-left: 1rem;
}
.navbar-menu > li:first-child {
  margin-left: 0;
}

.layout {
  padding: 1rem;
}

.LoginForm {
  display: flex;
  justify-content: center;
}

.LoginForm > * {
  margin-top: 2rem;
}

/* 
.form {
  margin-top: 200px;
}

.form > div {
  padding: 5px 0 5px 0;
}

.form button {
  background-color: #282c34;
  color: white;
  border: 0;
  padding: 10px 20px;
} */
